
:root{
    font-size: 80%;
}
/* ------------- current weather tab -------------------- */
.date{
    color: orangered;
}
 img .weather-icon { 
    width: 50px;
    height: 50px;  
    background-color: white;     
    
} 

.dailyHeader{ 
    box-sizing: border-box;
    display: block;    
    background-color: aliceblue;

}
.current-temperature{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    background-color: aliceblue;
}



/* ------------- current weather tab -------------------- */


/* future weater tab */

.main-container{
    display: flex;
    justify-content: space-around;
    padding: 5rem;
    
}

.sub-container {
    /* height: 20rem;   */   
    border-color: black !important; 
    
    
}


/* ---------------------------- asside ----------------------------------- */
/* ---------------- asside - history buttons ---------- */

.btn-info{
    margin: 0.2rem !important;

}


/* ----------------- Media Query ------------ */ 


@media screen and (max-width: 1024px) {
 
    .container {
       flex-direction: column !important; 
   }


    .card {
    width: 100% !important;
    min-width: auto;
    margin: 5px !important;
    padding: 5px;
  } 
}

